<header class='py-4 px-4 sm:px-10 bg-white font-[sans-serif] min-h-[70px] relative'>
  <div class='flex flex-wrap items-center justify-between gap-5'>
    <div class='flex items-center ml-auto lg:order-1'>
      <ul id="collapseMenu" class='lg:!flex max-lg:hidden max-lg:w-full lg:space-x-10 max-lg:space-y-4 max-lg:my-4'>
        <li class='group max-lg:border-b max-lg:py-2 relative'>
          <a href='javascript:void(0)'
            class='text-currentColor text-[19px] block'>Login<svg
              xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" class="ml-1 inline-block" viewBox="0 0 24 24">
              <path
                d="M12 16a1 1 0 0 1-.71-.29l-6-6a1 1 0 0 1 1.42-1.42l5.29 5.3 5.29-5.29a1 1 0 0 1 1.41 1.41l-6 6a1 1 0 0 1-.7.29z"
                data-name="16" data-original="#000000" />
            </svg>
          </a>
          <ul
            class='absolute hidden group-hover:block shadow-lg bg-white px-6 pb-4 pt-6 space-y-3 lg:top-5 max-lg:top-8 -left-6 min-w-[250px] z-50'>
            <li class='border-b py-2 '><a [routerLink]="['/login']"
                class='hover:text-[#007bff] text-gray-600 text-[15px] block'>Login</a></li>
            <li class='border-b py-2 '><a [routerLink]="['/signup']"
                class='hover:text-[#007bff] text-gray-600 text-[15px] block'>Signup</a></li>
          </ul>
        </li>
        <li class='max-lg:border-b max-lg:py-2'><a [routerLink]="['/']"
          class='text-[19px] font-bold text-currentColor block'>Home</a></li>
      </ul>
      <button id="toggle" class='lg:hidden ml-7'>
        <svg class="w-7 h-7" fill="#333" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
            clip-rule="evenodd"></path>
        </svg>
      </button>
    </div>
    <ul id="collapseMenu" class='text-currentColor lg:!flex lg:space-x-5 max-lg:space-y-2 max-lg:hidden max-lg:py-4 max-lg:w-full'>
      <li class='max-lg:border-b max-lg:bg-[#007bff] max-lg:py-2 px-3 max-lg:rounded'>
        <a href='javascript:void(0)' id='sec-1'
          class='block font-bold text-[15px]'>MERANTIS</a>
      </li>
      <li class='max-lg:border-b max-lg:py-2 px-3 max-lg:rounded'><a href='javascript:void(0)' id="sec-2"
          class='block font-semibold text-[15px]'>Consultancy</a>
      </li>
      <li class='max-lg:border-b max-lg:py-2 px-3 max-lg:rounded'><a href='javascript:void(0)' id="sec-3"
          class='block font-semibold text-[15px]'>Products</a>
      </li>
      <li class='max-lg:border-b max-lg:py-2 px-3 max-lg:rounded'><a href='javascript:void(0)' id="sec-4"
          class='block font-semibold text-[15px]'>About Us</a>
      </li>
      <li class='max-lg:border-b max-lg:py-2 px-3 max-lg:rounded'><a href='javascript:void(0)' id="sec-5"
        class='block font-semibold text-[15px]'>Partners</a>
    </li>
    </ul>
  </div>
</header>