<!-- Welcome -->
<div class="container-fluid h-1/3 relative">
    <img src="../../assets/background.jpg" class="w-full h-auto"/>
    <div class="absolute top-0 left-0 right-0 bottom-0 flex flex-col items-center justify-center">
        <h1 class="text-white text-4xl font-bold mb-3">Why MERANTIS?</h1>
        <p class="text-white text-sm text-center">Learn why MERANTIS can assist companies in evaluating,defining and deploying AI <br>technology to create competitive advantages overtheir peers. In addition, the AI <br>accelerators can result in shorter time tovalue on projects across many different<br> streams.</p>
    </div>
</div>
<div class="container">
    <div class="row mb-10 p-5">
        <div class="m-5 text-4xl text-blue-900 font-semibold rounded md:bg-transparent flex items-center justify-center" >
            <p>Welcome to our MERANTIS</p>
        </div>
        <div class="text-sm rounded md:text-gray-700 md:p-0 md:dark:text-gray-500" >
            <p class="text-center">From maximizing opportunity to managing risk, we help institutional, consulting, corporate, legal and professional services <br>clients expand their edge by leveraging the experi ence of experts to inform their actions.</p>
        </div>
    </div>
    <div class="flex flex-wrap mb-20">
        <div class="w-full sm:w-1/4 md:w-1/4 lg:w-1/4 xl:w-1/4 p-5">
            <img id="language1"  src="../../assets/language1.jpg" />
            <h1 class="font-bold mb-5">Fast Text Generate</h1>
            <p class="text-sm">Generate Text responses quickly and efficiently.</p>
        </div>
        <div class="w-full sm:w-1/4 md:w-1/4 lg:w-1/4 xl:w-1/4 p-5">
            <img id="coffee" src="../../assets/Coffee.jpg" />
            <h1 class="font-bold mb-5">High Quality Content</h1>
            <p class="text-sm">Get content tailored to your specific needs, delivered directly to you.</p>
        </div>
        <div class="w-full sm:w-1/4 md:w-1/4 lg:w-1/4 xl:w-1/4 p-5">
            <img id="more_grid_big" src="../../assets/More_Grid_Big.jpg" />
            <h1 class="font-bold mb-5">40+ Languages</h1>
            <p class="text-sm">Connect with customers in over 40 languages for effortless support.</p>
        </div>
        <div class="w-full sm:w-1/4 md:w-1/4 lg:w-1/4 xl:w-1/4 p-5">
            <img id="time-forward" src="../../assets/time-forward.jpg" />
            <h1 class="font-bold mb-5">24.7 Hours Support</h1>
            <p class="text-sm">No matter your time zone or question, our chatbot ishere to help.</p>
        </div>
    </div>
</div>

<!-- Consulting -->
<div class="bg-gray-100 p-10 mb-20">
    <div class="container">
        <div class="row m-5 p-5">
            <div class="text-4xl font-semibold rounded md:bg-transparent md:text-blue-900 md:p-0 md:dark:text-blue-500 flex items-center justify-center mb-5" >
                <p>Consulting</p>
            </div>
            <div class="text-sm text-center rounded md:bg-transparent md:text-gray-700 md:p-0 md:dark:text-gray-500" >
                <p>Are you into consulting business? MERANTIS  consultancy chatbot can free-up yourself from monotonous & mundane jobs so that you can<br> focus on the most important thing i.e consultancy. Get your chatbot to book appointments, take feedbacks and evaluate resources for hiring <br>while you’re busy consulting your clients.</p>
            </div>
        </div>
        <div class="row m-5 p-5 relative">
            <img src="../../assets/consultancy.jpg" class="w-full h-auto mb-10"/>
            <div class="absolute top-0 left-0 right-0 bottom-0 flex flex-col items-start justify-center m-20">
                <h1 class="text-2xl text-white font-bold mb-5">Consultancy</h1>
                <p class="text-sm mb-5 text-white">Uses Cases, Benefits & Templates</p>
                <button class="bg-blue-500 hover:bg-blue-900 text-white font-bold py-2 px-4 rounded-full w-1/10">
                    Click Me
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Products -->
<div class="container mb-20">
    <div class="row">
        <div class="text-4xl font-semibold rounded md:bg-transparent md:text-blue-900 md:p-0 md:dark:text-blue-500 flex items-center justify-center" >
            <p>Products</p>
        </div>
        <div class="mb-10 text-sm rounded md:bg-transparent md:text-gray-700 md:p-0 md:dark:text-gray-500 flex items-center justify-center" >
            <p>Book homes that offer space, convenience, and amenities.</p>
        </div>
    </div>
    <div class="flex flex-wrap">
        <div class="w-full sm:w-1/3 md:w-1/3 lg:w-1/3 xl:w-1/3 p-5">
            <img src="../../assets/product1.jpg" />
        </div>
        <div class="w-full sm:w-1/3 md:w-1/3 lg:w-1/3 xl:w-1/3 p-5">
            <img src="../../assets/product2.jpg" />
        </div>
        <div class="w-full sm:w-1/3 md:w-1/3 lg:w-1/3 xl:w-1/3 p-5">
            <img src="../../assets/product3.jpg" />
        </div>
    </div>
</div>

<!-- About us -->
<div class="bg-gray-100 p-20 mb-20">
    <div class="container">
        <div class="flex flex-wrap m-3">
            <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/2 xl:w-1/2">
                <h1 class="text-4xl font-semibold  rounded md:bg-transparent md:text-blue-900 md:p-0 md:dark:text-blue-500 flex mb-5" >About Us</h1>
                <p class="text-xl  font-semibold rounded md:bg-transparent md:text-blue-500 md:p-0 md:dark:text-blue-500 flex mb-2" >Vision</p>
                <p class="mb-5">To be a trustworthy partner for<br> businesses,government entities or non-profits <br>enabling them to benefit from the AIevolving <br>technology.</p>
                <p class="text-xl font-semibold rounded md:bg-transparent md:text-blue-500 md:p-0 md:dark:text-blue-500 flex mb-2" >Mission</p>
                <p>To provide AI transformation through consulting <br>and productsthat can give businesses a <br>competitive advantage and accelerator through <br>MERANTIS’AI, technology, knowledge and <br>experience.</p>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/2 xl:w-1/2">
                <img src="../../assets/about.jpg"/>
            </div>
        </div>
    </div>
</div>

<!-- Leadership -->
<div class="container p-10 mb-20">
    <div class="row m-3">
        <div class="text-4xl text-blue-900 font-semibold rounded md:bg-transparent mb-10" >
            <p>Leadership</p>
        </div>
    </div>
    <div class="row m-3">
        <p class="text-xl font-semibold rounded md:bg-transparent md:text-blue-500 md:p-0 md:dark:text-blue-500">MERANTIS Leadership combines the TechnologyKnowledge and Experience with Business Knowledge and Experience</p>
        <ul class="text-sm list-disc ml-5 rounded md:bg-transparent md:text-gray-700 md:p-0 md:dark:text-gray-500" >
            <li class="mb-2">Artificial Intelligence is one area in an End toEnd Transformation that must also includes Process Design, Data Architectures,and Organizational <br>Structures</li>
            <li class="mb-2">Consulting Engagements can be Discovery Sessionsor Design Sessions depending on the Maturity of the Company’s ArtificialIntelligence <br>Planning</li>
        </ul>
    </div>
    <div class="row m-3">
        <p class="text-xl font-semibold rounded md:bg-transparent md:text-blue-500 md:p-0 md:dark:text-blue-500" >MERANTIS can Facilitate Proof of ConceptArtificial Intelligence Projects or Facilitate full Artificial IntelligenceProjects</p>
        <ul class="text-sm list-disc ml-5  rounded md:bg-transparent md:text-gray-700 md:p-0 md:dark:text-gray-500" >
            <li class="mb-2">Developing an AI Strategy with “Baby Steps”</li>
            <li class="mb-2">Building AI Solutions – “Start Small and Scalewith Experiences”</li>
            <li class="mb-2">Security of AI Solutions, even if it involves aThird-Party Tool</li>
            <li class="mb-2">Data Quality of AI Solutions and Data</li>
            <li class="mb-2">Optimizing the Quality of AI</li>
            <li class="mb-2">Creating AI Competitive Advantages</li>
            <li class="mb-2">Creating AI Accelerators</li>
            <li class="mb-2">Creating AI Enablers</li>
            <li class="mb-2">Facilitating Team Embracement of AI</li>
            <li class="mb-2">Applying Generative AI Strategically</li>
            <li class="mb-2">AI Performance Optimization: ReducingHallucinations and Token Costs</li>
            <li class="mb-2">Augmentation and Improvement of Company ResourcesPerformance can be done with AI</li>
            <li class="mb-2">Responsible/Ethical AI Usage throughTransparency</li>
            <li class="mb-2">Disclosing and Consuming AI-generated Content</li>
            <li class="mb-2">Governance Models for AI usage in the Company</li>
            <li class="mb-2">AI Subscriptions and Licenses keep myApplication Models Current</li>
        </ul>
    </div>
</div>

<!-- Get in touch with us -->
<div class="bg-gray-100 p-5">
    <div class="container my-12 mx-auto px-2 md:px-4 w-1/2">
        <section>
            <div class="flex justify-center">
                <div class="text-center md:max-w-xl lg:max-w-4xl">
                    <h2 class="mb-6 px-6 text-4xl font-bold">
                        Get In Touch With Us
                    </h2>
                </div>
            </div>
            <div class="flex flex-wrap">
                <form class="mb-12 w-full shrink-0 grow-0 basis-auto md:px-3">

                    <div class="mb-3 w-full">
                        <label class="block font-medium mb-[2px] text-teal-700" htmlFor="exampleInput90">
                                Full Name
                        </label>
                        <input type="text" class="px-2 py-2 border w-full outline-none rounded-md" id="exampleInput90" placeholder="Your Name" />
                    </div>

                    <div class="mb-3 w-full">
                        <label class="block font-medium mb-[2px] text-teal-700" htmlFor="exampleInput90">
                                Email Address
                        </label>
                        <input type="email" class="px-2 py-2 border w-full outline-none rounded-md" id="exampleInput90"
                                placeholder="Email Address" />
                    </div>

                    <div class="mb-3 w-full">
                        <label class="block font-medium mb-[2px] text-teal-700" htmlFor="exampleInput90">
                                Phone Number
                        </label>
                        <input type="email" class="px-2 py-2 border w-full outline-none rounded-md" id="exampleInput90"
                                placeholder="Your phone number" />
                    </div>

                    <div class="mb-3 w-full">
                        <label class="block font-medium mb-[2px] text-teal-700" htmlFor="exampleInput90">
                                Choose type
                        </label>
                        <input type="email" class="px-2 py-2 border w-full outline-none rounded-md" id="exampleInput90"
                                placeholder="Tnterests in travel" />
                    </div>
                    <div class="flex justify-center">
                        <button type="button"
                            class="mb-6 inline-block rounded bg-blue-500 px-6 py-2.5 font-medium uppercase leading-normal text-white hover:shadow-md hover:bg-blue-900 w-1/5">
                            Send
                        </button>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>