<section class="bg-white dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <div class="w-full bg-white dark:border md:mt-0 sm:max-w-md xl:p-0">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-base xs:text-xs sm:text-sm lg:text-lg leading-tight tracking-tight text-currentColor md:text-sm dark:text-white">
                    Please Sign up to access with your ID
                </h1>
                <form class="space-y-4 md:space-y-6" action="#">
                    <div>
                        <label for="email" class="block font-bold mb-2 text-base xs:text-xs sm:text-sm lg:text-lg text-currentColor dark:text-white">Email</label>
                        <input type="email" name="email" id="email" class="bg-gray-50 border border-b-4 border-currentColor text-gray-900 sm:text-sm rounded focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                    </div>
                    <div>
                        <label for="username" class="block font-bold mb-2 text-base xs:text-xs sm:text-sm lg:text-lg text-currentColor dark:text-white">Username</label>
                        <input type="username" name="username" id="username" class="bg-gray-50 border border-b-4 border-currentColor text-gray-900 sm:text-sm rounded focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                    </div>
                    <div>
                        <label for="password" class="block font-bold mb-2 text-base xs:text-xs sm:text-sm lg:text-lg text-currentColor dark:text-white">Password</label>
                        <input type="password" name="password" id="password" class="bg-gray-50 border border-b-4 border-currentColor text-gray-900 sm:text-sm rounded focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                    </div>
                    <div>
                        <label for="repassword" class="block font-bold mb-2 text-base xs:text-xs sm:text-sm lg:text-lg text-currentColor dark:text-white">Re-Password</label>
                        <input type="repassword" name="repassword" id="repassword" class="bg-gray-50 border border-b-4 border-currentColor text-gray-900 sm:text-sm rounded focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                    </div>
                    <button type="submit" class="w-full bg-loginBtnColor text-white hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-3xl text-base xs:text-xs sm:text-sm lg:text-lg px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Login</button>
                    <p class="mt-10 text-base xs:text-xs sm:text-sm lg:text-lg font-light text-currentColor dark:text-gray-400">
                        I already have an account. <a [routerLink]="['/login']" class="text-base xs:text-xs sm:text-sm lg:text-lg underline font-bold text-primary-600 hover:underline dark:text-primary-500">Login</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
  </section>